*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#container-input{
    position: relative;
}
#container-input > h1{
    color: indigo;
}
#inner-div-input{
    position: absolute;
    bottom: -30rem;
}
.btn-warning{
    position: absolute;
    bottom: 0;
    border-radius: 0px 7px 0px 0px;
}