*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background-color: #F5EEE6;
}
#container-input{
    position: relative;
}
#container-input > h1{
    color: indigo;
}
#inner-div-input{
    margin-top: 8rem;
    position: fixed;
}
#help{
    position: fixed;
    top: 30rem;
    border-radius: 0px 7px 7px 0px;
}
#me{
    position: fixed;
    top: 33rem;
    border-radius: 0px 7px 7px 0px;
}
.alert{
    overflow: auto !important;
}
#alertContainer{
    margin-top: 8rem;
}
#taskSend{
    background-color: pink;
}